{% extends "base.html" %}

{% block title %}Reviews{% endblock %}

{% block content %}
<h1 class="text-center p-2">
        Latest Reviews
</h1>
<div class="container d-flex flex-row flex-wrap justify-content-center">

    {% for review in reviews %} 
    <a href="{% url 'review_detail' review.id %}" class="reviews" aria-label="Click to view {{game.title}}">
        <div class="card m-3" style="width: 18rem;">
            <img src="{{review.image.url}}" class="card-img-top" alt="{{review.image_alt}}">
            <div class="card-body">
              <h2 class="card-title">{{review.title}}</h2>
              <p class="card-text">{{review.game_name.title|truncatechars:100}}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>

{% endblock %}