
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.egg-info/
.eggs/


venv/
env/
ENV/


*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/


.env
env.py


.idea/
.vscode/
*.swp
*.swo


.DS_Store
Thumbs.db


cloudinary_python.txt
node_modules/
.github/
core.Microsoft*
core.mongo*
core.python*
local_settings.py