@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');

:root {
    /** font */
    --title: 'Shadows Into Light', serif;
    --main-font: 'Noto Serif Display', serif;

    /* colours */
    --background: black;

    /* utils */
    --small-box-shadow: 1px -1px 7px 0 black;
    --border: 1px solid grey;
}

/* header */