@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');

:root {
    /** font */
    --title: 'Shadows Into Light', serif;
    --main-font: 'Noto Serif Display', serif;

    /* colours */
    --background: black;
    --white: white;
    --grey: rgb(61, 61, 61);
    --light-blue: rgb(104, 114, 255);
    --black: black;

    /* utils */
    --small-box-shadow: 1px -1px 7px 0 black;
    --border: 1px solid grey;
}

/* header */
.navbar {
    background-color: var(--white);
    box-shadow: var(--smal-box-shadow);
}

a.nav-link {
    color: var(--black);
}
