{% load static %}

<footer>
    <!--social media icon-->
    <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Youtube - Opens in a new tab">
        <img src="{% static 'icons/youtube-app-icon.svg' %}" alt="Youtube icon" class="social-icon">
    </a>
    <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab">
        <img src="{% static 'icons/facebook-app-icon.svg' %}" alt="Facebook icon" class="social-icon">
    </a>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
        <img src="{% static 'icons/instagram-app-icon.svg' %}" alt="Instagram icon" class="social-icon">
    </a>
    <a href="https://discord.com/" target="_blank" rel="noopener" aria-label="Discord - Opens in a new tab">
        <img src="{% static 'icons/discord-app-icon.svg' %}" alt="Discord icon" class="social-icon">
    </a>
    <a href="https://store.steampowered.com/" target="_blank" rel="noopener" aria-label="Steam - Opens in a new tab">
        <img src="{% static 'icons/steam-app-icon.svg' %}" alt="Steam icon" class="social-icon">
    </a>
    <a href="https://www.x.com/" target="_blank" rel="noopener" aria-label="X - Opens in a new tab">
        <img src="{% static 'icons/x-app-icon.svg' %}" alt="X icon" class="social-icon">
    </a>
</footer>